.buttonDiv {
  padding-bottom: 5px;
}

.buttonGoBack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  background-color: white;
  border: 1px solid;
  border-radius: 3px;
  padding: 3px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgTextDiv {
  display: flex;
  gap: 20px;
}

.imgGeneral {
  /* width: 100%; */
  width: 200px;
  height: 300px;
  object-fit: contain;
  object-position: center;
}
